    <p> <%= link_to 'Crear ToDo', todos_new_path %> </p>

    </html><h1>ToDos</h1>
    <% @todos.each do |todo| %>
    <div class="well">
    <h4> <%= link_to todo.description,todo %> </h4>
    <h4> <%= todo.completed %> </h4>
    <p> <%= link_to 'Borrar', todo, method: :delete %> </p>
    <p> <%= link_to 'editar', todo, method: :edit  %> </p>
    </div>
    <% end %>
  </body>
